@charset "UTF-8";
/* Формы */
/* =========================================== */
/* Кнопки */
.btn {
  display: inline-block;
  padding: 0 0;
}
.btn:fw {
  width: 100%;
}

/* =========================================== */